<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand mx-auto text-center custom-brand"
            style="flex-grow: 35; font-size: 2rem;">LISTADO DE MULTAS</a>
        <div class="collapse navbar-collapse" id="navbarColor01">
        </div>
    </div>
</nav>

<div class="container mt-3">
    <table *ngIf="multas.length > 0" class="table table-hover">
        <thead>
            <tr class="table-dark">
                <th scope="col">Nº</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Localidad</th>
                <th scope="col">Valor</th>
                <th scope="col">Observación</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let multa of multas; let i = index" class="table-secondary">
                <td>{{ i + 1 }}</td>
                <td>{{ multa.nombre }}</td>
                <td>{{ multa.apellido }}</td>
                <td>{{ multa.localidad }}</td>
                <td>{{ multa.valor_multa }}</td>
                <td>{{ multa.observacion }}</td>
            </tr>
        </tbody>
    </table>
    <div *ngIf="multas.length == 0" class="empty-list">
        <h5>NO HAY MATERIALES PARA MOSTRAR</h5>
        <img class="logo" src="../../../assets/img/icono.png" alt="img icono">
    </div>
</div>