<div class="container d-flex justify-content-center align-items-center mb-3">
  
    <!-- Selector de Localidad -->
    <div class="me-2">
      <label for="localidad" class="form-label">Localidad:</label>
      <select class="form-select form-select-sm"
              [(ngModel)]="selectedLocalidadId">
        <option value="" disabled selected>Seleccione una localidad</option>
        <option *ngFor="let opcion of localidades" [value]="opcion.id_localidad">{{opcion.nombre}}</option>
      </select>
    </div>
    
    <!-- DatePicker -->
    <div class="me-2">
      <label for="date" class="form-label">Selecciona una fecha:</label>
      <div class="input-group">
        <input class="form-control"
               placeholder="yyyy-mm-dd"
               name="dp"
               ngbDatepicker
               #d="ngbDatepicker"
               [(ngModel)]="model"
               required>
        <button class="btn btn-outline-secondary"
                (click)="d.toggle()"
                type="button">
          <i class="fa fa-calendar"></i>
        </button>
      </div>
    </div>
    
    <!-- Botones -->
    <div>
      <button type="button" class="btn btn-primary btn-sm me-2" (click)="onGenerar('diario')">Diario</button>
      <button type="button" class="btn btn-primary btn-sm me-2" (click)="onGenerar('mensual')">Mensual</button>
      <button type="button" class="btn btn-primary btn-sm" (click)="onGenerar('anual')">Anual</button>
    </div>
    
  </div>
  