app-spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*------ Settings ------*/
.contenedor {
    --color: #a5a5b0;
    --size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    font-size: var(--size);
    user-select: none;
    fill: var(--color);
}

.contenedor .eye {
position: absolute;
animation: keyframes-fill .5s;
}

.contenedor .eye-slash {
position: absolute;
animation: keyframes-fill .5s;
display: none;
}

/* ------ On check event ------ */
.contenedor input:checked ~ .eye {
display: none;
}

.contenedor input:checked ~ .eye-slash {
display: block;
}

/* ------ Hide the default checkbox ------ */
.contenedor input {
position: absolute;
opacity: 0;
cursor: pointer;
height: 0;
width: 0;
}

/* ------ Animation ------ */
@keyframes keyframes-fill {
0% {
    transform: scale(0);
    opacity: 0;
}

50% {
    transform: scale(1.2);
}
}

.input-group-text{
    padding: 0.375rem 1.5rem;
}
