<!-- <div class="spinner-border spinner-custom spinner-primary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  
  <div class="spinner-border spinner-custom spinner-secondary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  
  <div class="spinner-border spinner-custom spinner-success" role="status">
    <span class="visually-hidden">Loading...</span>
  </div> -->

  <div class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
