.spinner-custom {
    width: 2rem;
    height: 2rem;
    border-width: 0.2em;
  }
  
  .spinner-primary {
    border-color: #007bff;
  }
  
  .spinner-secondary {
    border-color: #6c757d;
  }
  
  .spinner-success {
    border-color: #28a745;
  }