/* Ajustar el tamaño del texto principal */
body {
  font-size: 10px; /* Tamaño de fuente principal */
}

/* Ajustar el tamaño del texto de la marca del navbar */
.navbar-brand {
  font-size: 1.5rem; /* Tamaño de fuente de la marca del navbar */
}

/* Ajustar el tamaño del botón de salida */
.btn-exit {
  font-size: 0.8rem; /* Tamaño de fuente más pequeño */
}

/* Ajustar el tamaño del contenido de la tabla */
.table {
  font-size: 12px; /* Tamaño de fuente para la tabla */
}

.table td,
.table th {
  padding: 0.5rem; /* Ajustar el padding de las celdas de la tabla */
}

/* Ajustar el tamaño de los botones */
.btn {
  font-size: 10px; /* Tamaño de fuente para los botones */
  padding: 0.25rem 0.5rem; /* Ajustar el padding del botón */
}

/* Estilos para los filtros de búsqueda */
.form-control {
  font-size: 1rem; /* Tamaño de fuente del input de búsqueda */
  padding: 0.5rem; /* Ajustar el padding del input de búsqueda */
  width: 100%; /* Ancho del input de búsqueda */
  height: 40px; /* Altura del input de búsqueda */
}

/* Estilo para el navbar */
.navbar {
  background-color: #007bff; /* Cambiar color de fondo del navbar */
}

/* Estilo para la marca del navbar */
.navbar-brand {
  color: #ffffff; /* Color de texto blanco */
  font-weight: bold; /* Texto en negrita */
  font-size: 1.5rem; /* Tamaño de fuente */
  text-align: center; /* Centrar el texto */
  width: 100%; /* Ajustar ancho al 100% */
}


/* Ajustar el tamaño del texto en dispositivos pequeños */
@media (max-width: 768px) {
  /* Ajustar el tamaño del texto principal */
  body {
      font-size: 12px; /* Reducir el tamaño de fuente principal */
  }

  /* Ajustar el tamaño del texto de la marca del navbar */
  .navbar-brand {
      font-size: 1.2rem; /* Reducir el tamaño de fuente de la marca del navbar */
  }

  /* Ajustar el tamaño del botón de salida en dispositivos pequeños */
  .btn-exit {
      font-size: 0.7rem; /* Reducir el tamaño de fuente del botón de salida */
  }

   /* Establecer el ancho de los selectores en dispositivos móviles */
   .col-md-6 {
    width: 50%; /* Dividir el ancho de la columna en dos */
    float: left; /* Permitir que las columnas se coloquen una al lado de la otra */
    box-sizing: border-box; /* Incluir el padding y el borde en el ancho de la columna */
  }

  /* Limpiar el float después de las columnas */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  /* Ajustar el tamaño del contenido de la tabla en dispositivos pequeños */
  .table {
      font-size: 10px; /* Reducir el tamaño de fuente para la tabla */
  }

  .table td,
  .table th {
      padding: 0.1rem; /* Ajustar el padding de las celdas de la tabla en dispositivos pequeños */
  }

  /* Ajustar el tamaño de los botones en dispositivos pequeños */
  .btn {
      font-size: 10px; /* Reducir el tamaño de fuente para los botones */
      padding: 0.1rem 0.2rem; /* Ajustar el padding del botón */
  }

  .logo {
    height: 130px;
    margin-bottom: 10px;
    opacity: 50%;
}

  /* Ajustar el tamaño del input de búsqueda en dispositivos móviles */
  .form-control {
    font-size: 14px; /* Tamaño de fuente del input de búsqueda en dispositivos móviles */
    width: 100%; /* Ancho del input de búsqueda en dispositivos móviles */
  }

  /* Ajustar el tamaño del botón "AGREGAR MATERIAL" en dispositivos móviles */
  /* Ajustar el tamaño del botón "AGREGAR MATERIAL" en dispositivos móviles */
.btn-agregar-material {
  font-size: 0.5rem; /* Tamaño de fuente del botón "AGREGAR MATERIAL" en dispositivos móviles */
  width: 60%; /* Ancho del botón "AGREGAR MATERIAL" en dispositivos móviles, ajustado al 80% del ancho del contenedor */
}
}