<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand">MATERIALES</a>
    </div>
</nav>

<app-progress-bar *ngIf="loading"></app-progress-bar>

<div *ngIf="!loading" class="container mt-3">

    <div class="row">
        <div class="col-md-6 col-sm-12 mb-3">
            <div class="d-flex align-items-center justify-content-center">
                <input aria-label="Search" type="search" placeholder="Buscar material" name="filtroMaterial" class="form-control" [(ngModel)]="filtroMaterial">
            </div>
        </div>
        <div class="col-md-6 col-sm-12 mb-3 d-flex justify-content-center">
            <button type="button" class="btn btn-success btn-agregar-material" [routerLink]="['/presidente/agregar']">
                <img src="../../../assets/img/Guardar.png" alt="guardar" style="width: 20px; height: 20px; filter: invert(100%);"> <!-- Agregar estilos aquí -->
                AGREGAR MATERIAL
            </button>
        </div>
    </div>

    <div class="table-responsive">
        <table *ngIf="listMaterial.length > 0" class="table table-hover">
            <thead>
                <tr class="table-dark">
                    <th scope="col">Nº</th>
                    <th scope="col">ESTADO</th>
                    <th scope="col">NOMBRE</th>
                    <th scope="col">DESCRIPCION</th>
                    <th scope="col">STOCK</th>
                    <th scope="col">PRECIO</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of listMaterial | filtro: filtroMaterial; let i = index" class="table-secondary">
                    <td>{{ i + 1 }}</td>
                    <td>{{ item.estado }} </td>
                    <td>{{ item.nombre }} </td>
                    <td>{{ item.descripcion }} </td>
                    <td>{{ item.stock }} </td>
                    <!-- Formato de dollar -->
                    <td>{{ item.precio | currency}} </td> 
                    <td>
                        <button [routerLink]="['/presidente/editar', item.id_material]" type="button" class="btn btn-warning btn-sm text-white">EDITAR</button>
                        <button (click)="confirmDelete(item.id_material!)" type="button" class="btn btn-danger btn-sm ms-1" data-bs-toggle="modal" data-bs-target="#modalDeletedMaterial">ELIMINAR</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="listMaterial.length == 0" class="empty-list text-center">
        <h5>NO HAY MATERIALES PARA MOSTRAR</h5>
        <img class="logo" src="../../../assets/img/icono.png" alt="img icono">
    </div>

    <div class="container">
        <app-progress-bar *ngIf="loading"></app-progress-bar>
    
        <div class="d-flex justify-content-center align-items-center flex-column mb-3">
    
            <button type="button" class="btn btn-warning btn-sm mt-2" style="width: 150px;" [routerLink]="['/presidente/materiales']">
                <img src="../../../assets/img/Salir.png" alt="salir"> SALIR
            </button>
        </div>
    </div>

</div>

<!-- Modal para eliminar Material -->
<div class="modal fade" id="modalDeletedMaterial" aria-hidden="true" aria-labelledby="modalDeletedMaterialTitle" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalDeletedMaterialTitle">Confirmación de Eliminación</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            ¿Está seguro que desea eliminar el material "<b>{{ getMaterialNameById(materialIdToDelete) }}</b>"?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-danger" (click)="deleteMaterial()" data-bs-dismiss="modal">Eliminar</button>
        </div>
      </div>
    </div>
</div>

