<div class="container">
    <h2>Usted tiene las siguientes funciones:</h2>
    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Visualizar las localidades asignadas
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    Si la localidad no es la correcta, notificar al administrador.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Visualizar a todos los clientes de una localidad a la que se le ha asignado
                </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    Puede buscar a un cliente específico por:
                    <ul>
                        <li>Código de medidor</li>
                        <li>Nombre y segundo nombre</li>
                        <li>Apellido y segundo apellido</li>
                        <li>Nombre y apellido juntos, y viceversa</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Editar los datos del cliente
                </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <ul>
                        <li>
                            Puede editar al cliente las veces que sea necesario, en caso que ya se haya tomado lectura.
                        </li>
                        <li>
                            Usted es totalmente responsable de la edición de los datos del cliente.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <br>

    <div class="alert alert-warning" role="alert">
        Si desea ingresar con el rol de cliente, primero 'Cierre sesión' y elija dicho rol.
    </div>
</div>
