<html>
 <head>
  <title>
   MANGLARALTO
  </title>
  <meta charset="utf-8"/>
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&amp;display=swap" rel="stylesheet"/>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>

 </head>
 <body>
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark-blue">
   <div class="container">
    <a class="navbar-brand" href="menu">
    MANGLARALTO
    </a>
    <button aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-bs-target="#navbarNav" data-bs-toggle="collapse" type="button">
     <span class="navbar-toggler-icon">
     </span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
     <ul class="navbar-nav ms-auto">
      <li class="nav-item">
       <a aria-current="page" class="nav-link active" href="#">
        Inicio
       </a>
      </li>
      <li class="nav-item">
       <a class="nav-link" href="#">
        La Parroquia
       </a>
      </li>
      <li class="nav-item">
       <a class="nav-link" href="#">
        Servicios en línea
       </a>
      </li>
      <li class="nav-item">
       <a class="nav-link" href="#">
        Contacto
       </a>
      </li>
     </ul>
    </div>
   </div>
  </nav>
  <!-- Hero Section -->
  <section class="hero-section" style="position: relative; text-align: center;">
    <div class="container text-center" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
      <h1 style="color:black; font-family: 'Outfit', sans-serif;">
        PLANTA DE AGUA
      </h1>
    </div>
  </section>
  <!-- Services Section -->
  <section class="bg-light-blue py-5">
    <div class="container">
       <div class="row text-center">
          <div class="col-md-3">
             <i class="fas fa-user service-icon"></i>
             <div class="service-text">SOCIO/MIEMBRO</div>
          </div>
          <div class="col-md-3">
             <i class="fas fa-file-alt service-icon"></i>
             <div class="service-text">ESTADO DE CUENTA</div>
          </div>
          <div class="col-md-3">
             <i class="fas fa-envelope service-icon"></i>
             <div class="service-text">ARCHIVOS</div>
          </div>
          <div class="col-md-3">
             <i class="fas fa-comments service-icon"></i>
             <div class="service-text">WEBMAIL</div>
          </div>
       </div>
    </div>
 </section>
  <!-- Footer -->
  <footer class="footer" style="background-color: #003865; color: #ffffff; padding: 30px 0;">
    <div class="container">
       <div class="row">
          <div class="col-md-3 text-center" >
             <p>nalvarez</p>
          </div>
       </div>
    </div>
 </footer>
  <!-- Bootstrap JS -->
 </body>
</html>
